@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: content-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.cocktail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

img {
  max-width: 100%;
}

.cocktail-card {
  margin: 20px;
  width: 20%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.cocktail-card img {
  margin-bottom: 8px;
}

.hidden {
  visibility: hidden;
}

.overlay {
  top: 0;
  background-color: #01010177;
  width: 100vw;
  height: 3000vh;
  position: absolute;
  z-index: 9;
}

.cocktail-info-wrapper {
  position: fixed;
  z-index: 10;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  background-color: white;
}

.cocktail-info-wrapper div {
  flex-grow: 1;
}

.cocktail-info-wrapper img {
  margin-right: 15px;
  object-fit: contain;
  width: 20%;
}

.icon-remove {
  font-size: 30px;
  color: grey;
  cursor: pointer;
  margin-left: 40px;
}
