* {
  box-sizing: content-box;
}

.cocktail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
}

.cocktail-card {
  margin: 20px;
  width: 20%;
}

.hidden {
  visibility: hidden;
}

.overlay {
  top: 0;
  background-color: #01010177;
  width: 100vw;
  height: 3000vh;
  position: absolute;
  z-index: 9;
}

.cocktail-info-wrapper {
  position: fixed;
  z-index: 10;
  background-color: aliceblue;
  height: 300px;
  display: flex;
  flex-direction: row;
}
